<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title + ' - ' : '' %>Insta360 Viewer</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="importmap">{"imports":{"three":"https://unpkg.com/three@0.170.0/build/three.module.min.js"}}</script>
</head>
<body>
  <header>
    <a href="/browse/" class="logo">Insta360 Viewer</a>
    <button id="enter-vr-browse" class="vr-btn" style="display:none">Enter Immersive View</button>
  </header>
  <main>
    <%- body %>
  </main>
  <script src="/js/gallery.js" type="module"></script>
</body>
</html>
